@charset "utf-8";
/* CSS Document */

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1440px) {
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1024px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .hero-banner-image {margin-top: 50px;}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .navigationbar {background-color: #0e151d;}
  .navbar-toggler-icon {position: relative;}
  .navbar-brand {color: #ffffff;}
  .navbar-toggler-icon::before {content: "\f0c9";position: absolute;color: #ffffff;font-family: "FontAwesome";left: 5px;top: 5px;}
  .navbar-expand-md .navbar-nav .nav-link {color: #ffffff; padding: 10px 0px;}
  .hero-banner h1 {font-size: 40px;}
  .hero-banner {padding: 110px 0px;}
  .banner-floating {padding: 30px 25px 30px 30px; bottom: 0px; max-width: 100%;}
  .hero-banner img {border-radius: 34px;}
}

@media only screen and (max-width: 375px) {
}
